* {
  margin: 0;
  padding: 0;
  font-family: "Exo";
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  position: relative;
  scroll-behavior: smooth;
  background-color: hsl(0 0% 90%);
}

body > img {
  position: fixed;
  background-size: cover;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
main section {
  width: 80vw;
  /* background-color: hsl(0 0% 90%); */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
}
main section .title {
  color: #e23939;
  font-size: 35px;
  font-weight: 500;
}
main #title-description {
  margin-top: 20px;
}
main p {
  text-indent: 40px;
  text-align: justify;
}

/* Important container rules */
.details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  padding: 10px;
}

.lines {
  border: none;
  height: 3px;
  background-color: #737373;
}

.important-imgs {
  width: 50%;
  margin-top: 5px;
  border-radius: 10px;
}

.details-title {
  font-size: 20px;
}

.details-descriptions {
  margin-top: 10px;
  text-indent: 0;
  font-size: 0.8em;
}

.details-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  border: 1px;
  border-radius: 10px;
  background-color: hsl(300 0% 95%);
  border: 1px solid hsl(340 0% 62%);
  padding: 10px;
  width: 100%;
  height: 350px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.details-grid:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4);
}

.details-hr {
  width: 90px;
}

.details-links {
  all: unset;
  margin-top: 30px;
}

main .details-grid > a {
  position: absolute;
  bottom: 10px;
}
/* End of important container rules */

/* Important details to display */
main #explore-hr {
  width: 200px;
}

main #educators-staff p {
  margin-top: 10px;
}

main #programs hr:nth-of-type(2) {
  margin: 10px 0;
}
main #programs ul > li {
  list-style-type: disc;
}

main #facilities {
  position: relative;
}
main .facilities-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 300px;
  gap: 0 5px;
}
main
  section
  .details-container
  .details-grid
  .facilities-imgs
  > img:nth-of-type(odd) {
  justify-self: end;
  border-radius: 5px;
}
main
  section
  .details-container
  .details-grid
  .facilities-imgs
  > img:nth-of-type(even) {
  border-radius: 5px;
}
main section .details-container .details-links:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}
/* End of Important details*/

/* Display of Mentors */
.hr-rule {
  margin: 20px 0;
}

main #mentor-jadi {
  position: relative;
}
main #mentor-jadi > ul {
  margin-left: 40px;
  padding-left: 40px;
}
main #mentor-jadi .mentor-characteristics {
  font-weight: 700;
}
main #mentor-jadi ul > li {
  list-style-type: disc;
}
main #mentor-jadi #mentor-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 40.67px;
  gap: 5px;
}
main #mentor-jadi #mentor-picture {
  width: 200px;
  border-radius: 10px;
}
main #mentor-jadi #mentor-container > hr {
  width: 200px;
}
/* End of displaying of mentors */

.navbar-container {
  position: sticky;
  display: flex;
  top: 0px;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 60px;
  height: 90px;
  z-index: 100;
  transition: all 0.4s ease-in-out;
}

.navbar-container::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 90px;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(149, 40, 40, 1) 0%,
    rgba(207, 45, 45, 1) 100%
  );
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

#navbar-title {
  color: azure;
  font-weight: bold;
  font-size: 1.9rem;
}

#navbar-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-button,
#about-button,
#register-button,
#hamburger-button,
#exit-navbar {
  all: unset;
  color: azure;
  font-size: 1.3rem;
  margin: 30px;
  font-weight: 500;
}

#register-button {
  border: 4px solid #05805f;
  background-color: #05805f;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}

#hamburger-button,
#exit-navbar {
  font-size: 25px;
  display: none;
}

#about-button {
  font-weight: bold;
}

@media (max-width: 1054px) {
  #hamburger-button {
    display: block;
  }
  #exit-navbar {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    right: 30%;
  }
  #navbar-options {
    padding-top: 30px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: -400px;
    flex-direction: column;
    justify-content: start;
    background: linear-gradient(
      180deg,
      rgba(149, 40, 40, 1) 0%,
      rgba(207, 45, 45, 1) 100%
    );
    height: 100vh;
    width: 35vw;
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }
  #register-button {
    border: none;
  }
}

/* For tablets */
@media (max-width: 768px) {
  body > img {
    height: 100%;
  }

  main .details-container {
    display: flex;
    flex-direction: column;
  }
  main .details-grid {
    height: 350px;
  }
  main #important-educators-img {
    width: 200px;
  }
  main .details-descriptions {
    font-size: 1rem;
  }

  main #mentor-jadi > * {
    text-indent: 0;
  }
  main #mentor-jadi .title {
    font-size: 1.5rem;
  }
  main .hr-rule {
    margin: 10px 0;
  }
  main #mentor-jadi > * {
    font-size: 0.8em;
  }
  main #mentor-jadi > ul {
    width: 65%;
    padding: 0;
  }
  main #mentor-jadi #mentor-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  main #mentor-container #mentor-picture {
    width: 140px;
  }
  main #mentor-jadi #mentor-container .lines {
    width: 140px;
  }
  main #mentor-jadi #mentor-container > span {
    width: 140px;
    text-align: center;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  body > img {
    position: fixed;
    background-size: cover;
    height: 100%;
    z-index: -1;
  }

  main section .title {
    font-size: 2rem;
  }
  main section #title-descrtion {
    margin-top: 0px;
    font-size: 1.5rem;
  }
  main section p:nth-of-type(2) {
    margin-bottom: 10px;
  }

  main section .details-container .details-grid {
    height: 380px;
  }
  main .details-container .details-grid .details-title {
    font-size: 1.2rem;
  }
  main .details-container .details-grid .details-descriptions {
    font-size: 0.8rem;
  }
  main .details-container .details-grid > ul {
    padding-left: 20px;
  }
  main .details-container .details-grid .details-links {
    font-size: 0.8rem;
  }

  main section #mentor-jadi > * {
    font-size: 0.8rem;
  }
  main section #mentor-jadi .title {
    font-size: 1.2rem;
  }
  main section #mentor-jadi > ul {
    margin-left: 20px;
    padding-left: 10px;
    width: 190px;
  }
  main section #mentor-jadi #mentor-container {
    position: absolute;
    top: 40px;
    right: -20px;
    box-sizing: border-box;
    justify-content: start;
  }
  main section #mentor-jadi #mentor-container #mentor-picture {
    width: 110px;
  }
  main section #mentor-jadi #mentor-container .lines {
    width: 110px;
  }
}

/* TITLE OF EACH PAGE */
#title-facility,
#title-program {
  font-size: 35px;
  margin-bottom: 2rem;
  color: #cf2d2d;
}

/* DEPARTMENTS TITLE */
.program-title {
  margin: 1rem 0;
  font-size: 25px;
  color: #05805f;
  font-weight: 450;
}

/* FORMAT FOR BULLETS */
.bullet-information {
  text-indent: 50px;
  font-size: 1rem;
  padding-left: 20px;
  text-align: left;
}

main section #program-text-container {
  position: relative;
}
main section #program-text-container .information {
  text-indent: 0;
}
.indent-paragraph {
  padding-left: 4rem;
}
#program-end {
  position: absolute;
  right: 1rem;
}
#program-end #end-title {
  text-indent: 0;
  font-size: 25px;
  color: #05805f;
  font-weight: 500;
  text-align: end;
}
#program-end > a {
  all: unset;
}
#program-end > a:hover {
  font-size: 1rem;
  color: red;
  text-decoration: underline;
}
#spaces-future-hr {
  margin: 4rem 0 1rem;
}

#facility-page-container .information {
  text-indent: 0;
}

#lecture-hall-container-one,
#lecture-hall-container-two,
#wellness-facilities-container-one,
#wellness-facilities-container-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem;

  background-color: #f0f0f0;
  padding: 2rem 0;
  border-radius: 20px;
  margin: 1.5rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  align-items: center;
}

#lecture_hall_one {
  justify-self: end;
}

#lecture-hall-two {
  justify-self: start;
}

#lecture-hall-three {
  justify-self: end;
}

#lecture-hall-four {
  justify-self: start;
}

#wellness-facility-one {
  justify-self: end;
}

#wellness-facility-two {
  justify-self: start;
}

#wellness-facility-three {
  justify-self: end;
}

#wellness-facility-four {
  justify-self: start;
}

/* #wellness-facilities-container-one:hover,
#wellness-facilities-container-two:hover,
#lecture-hall-container-one:hover,
#lecture-hall-container-two:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4);
} */

#wellness-facilities-container-one img,
#wellness-facilities-container-two img,
#lecture-hall-container-one img,
#lecture-hall-container-two img {
  width: 80%;
  height: 20rem;
  object-fit: cover;
  border-radius: 20px;
}

.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-title > :first-child {
  text-indent: 0;
  font-size: 2rem;
}

@media (max-width: 768px) {
  main section center span {
    font-size: 1.25rem;
  }

  #program-text-container #title-program {
    text-indent: 0px;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  #program-text-container .indent-paragraph {
    padding: 30px;
    font-size: 1rem;
  }
  #program-text-container .program-title {
    text-indent: 0;
    font-size: 1.5rem;
  }
  #program-text-container ul > .bullet-information {
    font-size: 1rem;
    text-indent: 0;
  }
  #program-text-container #program-end {
    right: 0;
    margin-top: 10px;
  }
  #program-text-container #end-title {
    font-size: 1.5rem;
  }
  #program-text-container #link {
    font-size: 1rem;
  }
  #program-end > a {
    all: unset;
  }
  #program-end > a:hover {
    color: #2b75ff;
    text-decoration: underline;
  }

  main section #facility-page #facility-page-container #title-facility {
    text-indent: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  main
    section
    #facility-page
    #facility-page-container
    .information
    .indent-paragraph {
    padding: 30px;
    font-size: 1rem;
  }
  main
    section
    #facility-page
    #facility-page-container
    #lecture-hall-container-one,
  main
    section
    #facility-page
    #facility-page-container
    #lecture-hall-container-two,
  main
    section
    #facility-page
    #facility-page-container
    #wellness-facilities-container-one,
  main
    section
    #facility-page
    #facility-page-container
    #wellness-facilities-container-two {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  main
    section
    #facility
    #facility-page-container:is(
      #lecture-hall-container-one,
      #lecture-hall-container-two,
      #wellness-facilities-container-one,
      #wellness-facilities-container-two
    )
    > img {
    width: 400px;
  }
  main
    section
    #facility-page
    #facility-page-container
    .content-title
    > span:first-of-type {
    font-size: 1.5rem;
  }
  main
    section
    #facility-page
    #facility-page-container
    .content-title
    > span:last-of-type {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  main section .title {
    font-size: 1.5rem;
  }
  main section > p:is(:first-of-type, :nth-of-type(2)) {
    font-size: 1rem;
    text-indent: 30px;
  }
  main section center:first-of-type > span {
    font-size: 1.5rem;
  }

  main section #program-text-container > #title-program {
    font-size: 1.2rem;
  }
  main section #program-text-container > .information {
    font-size: 1rem;
  }
  main section #program-text-container > .program-title {
    font-size: 1.2rem;
  }
  main section #program-text-container #program-end #end-title {
    font-size: 1.2rem;
  }
  main section #program-text-container #program-end > a {
    font-size: 1rem;
  }

  main section #facility-page #facility-page-container > #title-facility {
    font-size: 1.2rem;
  }
  main section #facility-page #facility-page-container > .information {
    font-size: 1rem;
  }
}

@media (max-width: 470px) {
  main section #mentor-jadi > p:first-of-type {
    padding-top: 60%;
  }
  main section #mentor-jadi #mentor-container {
    position: absolute;
    right: 30%;
    top: 4%;
  }

  main
    section
    div:is(:nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6)) {
    padding-top: 13%;
  }
}

@media (max-width: 400px) {
  main section #mentor-jadi > p:first-of-type {
    padding-top: 70%;
  }
  main section #mentor-jadi #mentor-container {
    position: absolute;
    right: 25%;
    top: 4%;
  }

  main
    section
    div:is(:nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6)) {
    padding-top: 15%;
  }
}

@media (max-width: 380px) {
  main section #mentor-jadi > p:first-of-type {
    padding-top: 70%;
  }
  main section #mentor-jadi #mentor-container {
    position: absolute;
    right: 20%;
    top: 3%;
  }

  main
    section
    div:is(:nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(6)) {
    padding-top: 20%;
  }
}

@media (max-width: 477px) {
  main section #program-text-container #program-end {
    text-align: right;
  }

  main section #spaces-future-hr {
    margin-top: 25%;
  }
}

@media (max-width: 440px) {
  main section #spaces-future-hr {
    margin-top: 30%;
  }
}

@media (max-width: 390px) {
  main section #spaces-future-hr {
    margin-top: 35%;
  }
}

@media (max-width: 450px) {
  main
    section
    #facility-page
    #facility-page-container
    #lecture-hall-container-one
    > img,
  main
    section
    #facility-page
    #facility-page-container
    #lecture-hall-container-two
    > img,
  main
    section
    #facility-page
    #facility-page-container
    #wellness-facilities-container-one
    > img,
  main
    section
    #facility-page
    #facility-page-container
    #wellness-facilities-container-two
    > img {
    width: 80%;
    height: 50%;
  }
}
